<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head') %>
<!-- head -->
<body>
  <!-- header -->
  <%- include('../partials/header') %>
  <!-- header -->
  <main>
    <div class="section-tittle">
      <h2>Mi Carrito</h2>
    </div>
    <section class="main-section-detail-product">
      <p class="product-quant">2 items</p>
      <% cart.products.forEach(product=> { %>
      <section class="cart-product">
        <div>
          <img src="/img/products/<%=product.image %>" alt="image_product_1" />
        </div>
        <div class="product-descrip">
          <h4><%= product.name %></h4>
          <p>
            <%=product.description_short  %>
            
          </p>
          <p class="cart-product-price">$ <%= product.final_price %></p>
          <div class="add-delete-product">
            <div class="button-plus">
              <button type="button">-</button>
              <p>
                <% cart.productscarts.forEach(productcart=> { %> %>
                  <% if (productcart.product_id === product.id) { %>
                    <%= productcart.quantity %>
                  <% } %>
                  <% }) %>
              </p>
              <button type="button">+</button>
            </div>
            <div>
              <button type="button">Eliminar</button>
            </div>
          </div>
        </div>
      </section>
<%  }) %>
    </section>
    <section>
      <div class="cupon-disc">
        <p>¿Tenés un cupón de descuento?</p>
        <input type="text" placeholder="Ingresalo acá">
      </div>
      <form action="" class="ship-form">
        <p>Detalles de Envío</p>
        <div>
          <label for="adress">Dirección</label>
          <input type="text" name="adress" id="adress">
        </div>
        <div>
          <label for="postal-code">Código Postal</label>
          <input type="text" name="postal-code" id="postal-code">
        </div>
        <div>
          <label for="phone-number">Número de Teléfono</label>
          <input type="text" name="phone-number" id="phone-number">
        </div>
        <div>
          <label for="more-details">Detalles</label>
          <textarea name="more-details" id="more-details" cols="15" rows="2"></textarea>
        </div>
      </form>
    </section>
    <section class="purchase-total">
      <div class="payment-details">
        <label>Subtotal</label> <label>
          <% let suma = 0 %>
          <% cart.products.forEach(product=> { %>
              <% suma = suma+ product.final_price %>
            <% }) %>
            $ <%= toThousand(suma) %>
        </label>
      </div>
      <div class="payment-details">
        <label>Envío</label> <label>$ <%= cart.items * 5 %></label>
      </div>
      <div class="total">
        <label>TOTAL</label> <label>$ <%= toThousand(suma + cart.items*5)  %></label>
      </div>
      <div class="purchase-button">
        <button type="button">FINALIZAR COMPRA</button>
        <button type="button">SEGUIR COMPRANDO</button>
      </div>
    </section>
  </main>
  <!-- footer -->
  <%- include('../partials/footer') %>
  <!-- footer -->
</body>

</html>