<!DOCTYPE html>
<html lang="en">
  <!-- head  -->

  <%- include('./partials/head') %>

  <!-- head  -->

  <body>
    <!-- header -->

    <%- include('./partials/header') %>

    <!-- header -->
    <section>
      <img
        class="banner-1000px"
        src="/img/cosmica_banner_500x2000.png"
        alt="banner"
      />
      <img
        class="banner-360px"
        src="/img/cosmica_banner_600x1000.png"
        alt="banner"
      />
    </section>
    <main>
      <div class="category-section">
        <p class="category-tittle">Categorías</p>
        <div class="categories">
          <div class="categories1">
            <div class="category">
              <img
                class="img-category"
                src="/img/category1.jpeg"
                alt="foundation"
              />
            </div>
            <div class="category">
              <img class="img-category" src="/img/category2.jpeg" alt="blush" />
            </div>
          </div>
          <div class="categories2">
            <div class="category">
              <img class="img-category" src="/img/category3.jpg" alt="liner" />
            </div>
            <div class="category">
              <img
                class="img-category"
                src="/img/category4.jpg"
                alt="lipstick"
              />
            </div>
          </div>
        </div>
      </div>
      <section class="main-section">
        <h3>Productos Destacados</h3>
        <div class="featured-products">
          <% featured.forEach(product=> { %>
          <article class="product">
            <a href="/products/<%=product.id%>">
              <img
                class="product-img"
                src="/img/products/<%=product.image%>"
                alt="<%=product.name%>"
              />
            </a>
            <div class="descrip">
              <i class="fa-solid fa-heart"></i>
              <p class="product-tittle"><%=product.name%></p>
              <p class="product-price">$<%=toThousand(product.price)%></p>
            </div>
          </article>
          <% }) %>
        </div>
        <h3>Ofertas</h3>
        <div class="featured-products">
          <% offers.forEach(product=> { %>
          <article class="product">
            <a href="/products/<%=product.id%>">
              <img
                class="product-img"
                src="/img/products/<%=product.image%>"
                alt="<%=product.name%>"
              />
            </a>
            <div class="descrip">
              <i class="fa-solid fa-heart"></i>
              <p class="product-tittle"><%=product.name%></p>
              <div class="product-full-price">
                <p class="product-dsc"><%=product.discount%>% OFF</p>
                <p class="product-price strikethrough price-old">
                  $<%=toThousand(product.price)%>
                </p>
                <p class="product-price">
                  $<%= toThousand(product.price -
                  (product.price*product.discount/100)) %>
                </p>
              </div>
            </div>
          </article>
          <% }) %>
        </div>
      </section>
    </main>
    <!-- footer -->
    <%- include('./partials/footer') %>

    <!-- footer -->
  </body>
</html>
