<!DOCTYPE html>
<html lang="en">
  <!-- head -->

  <%- include('../partials/head') %>

  <!-- head -->
  <body>
    <!-- header -->
    <%- include('../partials/header') %>
    <!-- header -->
    <div class="section-tittle">
      <h2>Mi cuenta</h2>
    </div>
    <section class="main-section">
      <h3 class="title-profile">Informacion de la cuenta</h3>
      <div class="profile">
        <img src="/img/users/<%= locals.userLogged.image %>" alt="img-profile" />
        <form
          action="/users/edit?_method=PUT"
          method="POST"
          class="form-register profile-form"
          enctype="multipart/form-data"
        >
          <div class="avatar">
            <input type="file" name="avatar" />
            <% if (locals.errors && errors.avatar) { %>
              <span style="color: red"> <%= errors.avatar.msg %> </span>
            <% } %>
          </div>
          <div>
            <input
              type="text"
              name="first_name"
              placeholder="Nombre"
              value="<%if(user){%><%=user.first_name%><%} else if (locals.old &&  old.first_name) {%><%=old.first_name%><%}%>"
            />
            <% if (locals.errors && errors.first_name) { %>
              <span style="color: red"> <%=errors.first_name.msg%> </span>
            <% } %>
          </div>
          <div>
            <input
              type="text"
              name="last_name"
              placeholder="Apellido"
              value="<%if(user){%><%=user.last_name%><%}else if(locals.old && old.last_name){%><%=old.last_name%><%}%>"
            />
            <% if (locals.errors && errors.last_name) { %>
              <span style="color: red"> <%=errors.last_name.msg%> </span>
            <% } %>
          </div>
          <div>
            <input
              type="email"
              name="email"
              placeholder="E-mail"
              value="<%if(user){%><%=user.email%><%}else if(locals.old && old.email){%><%=old.email%><%}%>"
            />
            <% if (locals.errors && errors.email) { %>
              <span style="color: red"> <%=errors.email.msg%> </span>
            <% } %>
          </div>
          <div class="password">
            <input
              type="password"
              name="oldPassword"
              placeholder="Contraseña actual"
            />
            <i class="fa-solid fa-eye-slash"></i>
          </div>
          <% if (locals.errors && locals.errors.msg) { %>
            <span style="color: red"> <%=locals.errors.msg%> </span>
          <% } %>
          <div class="password">
            <input
              type="password"
              name="password"
              placeholder="Contraseña nueva"
            />
            <i class="fa-solid fa-eye-slash"></i>
          </div>
          <div class="password">
            <input
              type="password"
              name="confirm_password"
              placeholder="Confirmar contraseña"
            />
            <i class="fa-solid fa-eye-slash"></i>
          </div>
          <% if (locals.errors && errors.confirm_password) { %>
            <span style="color: red"> <%=errors.confirm_password.msg%> </span>
          <% } %>
          <div>
            <input
              type="text"
              name="address"
              placeholder="Direccion"
              value="<%if(user){%><%=user.address%><%}else if(locals.old && old.address){%><%=old.address%><%}%>"
            />
            <% if (locals.errors && errors.address) { %>
              <span style="color: red"> <%=errors.address.msg%> </span>
            <% } %>
          </div>
          <div >
            <button type="submit" >Guardar</button>
          </div>
          <a href="/users/profile" class="comeback">Volver</a>
        </form>
        
      </div>
    </section>
    <!-- footer -->
    <%- include('../partials/footer') %>
    <!-- footer -->
  </body>
</html>
