<!DOCTYPE html>
<html lang="en">
<!-- head -->

<%- include('../partials/head') %>

<!-- head -->
<body>
    <!-- header -->
    <%- include('../partials/header') %>
    <!-- header -->
    <main>
        <div class="section-tittle">
            <h2>Ingresá</h2>
        </div>
        <form action="" method="POST" class="form-register">
            <div>
                <input type="email" name="email" placeholder="ejemplo@mail.com" value=<%=  locals.old && old.email ? old.email : "" %>>
                <span class="error"></span>
            </div>
            <% if (locals.errors && errors.email) { %>
                <span style="color: red;">
                   <%= errors.email.msg %>
                </span>
               <% } %>
             <div>  
            <div class="password">
                <input type="password" name="password" placeholder="**************">
                <i class="fa-solid fa-eye-slash"></i>
            </div>
            <span class="error"></span>
            <% if (locals.errors && errors.password) { %>
             <span style="color: red;">
                <%= errors.password.msg %>
             </span>
            </div>
            <% } %>
            <label class="button-remember"><input type="checkbox" name="rememberMe" value="remember">Recordarme</label>
            <div class="button-login">
                <button type="submit">Iniciar Sesion</button>
            </div>
            <% if (locals.errors && locals.errors.msg) { %>
                <span style="color: red;">
                   <%= errors.msg %>
                </span>
               <% } %>
            <div class="button-login">
                <a href="/users/register">
                    <button type="button">Registrarme</button>
                </a>
            </div>
            <div class="forgot-password">
                ¿Olvidaste tu contraseña?
            </div>
        </form>
    </main>
    <!-- footer -->
    <%- include('../partials/footer') %>
    <!-- footer -->
    <script src="/js/login.js"></script>
</body>

</html>